/* General rules */

@font-face {
    font-family: 'NorseBold';
    src: url(../assets/fonts/Norse-Bold.otf);
}
a {
    color: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 30%;
    position: relative;
    background-image: url(../assets/images/maksym-tymchyk-06HCXSpu7Dw-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo img {
    height: 5rem;
}
.logo p {
    margin: 0 .5rem;
    font-family: NorseBold, sans-serif;
    font-size: 4rem;
    color: #FFF;
}
.logo + p {
    font-size: .625rem;
    color: #FFF;
    position: absolute;
    bottom: 0;
}

/* Content */

h1, h2 {
    font-weight: 400;
}
.content {
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    flex-basis: 32rem;
}

.content > * {
    padding: 2rem;
}
.content header {
    background-color: #ebebeb;
}

/* Form */

.main-form {
    padding: 0;
}
input {
    margin-bottom: .75rem;
    width: 100%;
}

.form-wrapper {
    padding: 2rem;
    background-color: antiquewhite;
}

 .form-wrapper > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
}
.form-wrapper > div > div {
    flex-grow: 1;
}

/* Media queries */

@media screen and (min-width: 768px) {
    .form-wrapper > div > div{
        max-width: 16.5rem;
    }
}
